<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}style.css" />
    {% block stylesheets %} {% endblock %}


    <title>{% block title %}CRUD Sisqualis{% endblock %}</title>
</head>

<body>
	
    <div id="container-fluid">
	    <header>
		    <div class="row">
				CABEÇALHO MALUCO
			</div>
		</header>
        {% block content %}
        
        {% endblock %}
    </div>

   	<footer>
    <script type="text/javascript" src="{{ STATIC_URL }} /static/jquery-1.8.0.js">
   		{% block scripts %} {% endblock %}
   	</footer>
</body>
</html>